@import 'tailwindcss';
@import './tailwindcss-typography.css' layer(utilities);
@import './gitHub-favored-markdown.css' layer(utilities);
@import './rehype-autolink-headings.css' layer(utilities);
@import './rehype-toc.css' layer(utilities);
@import './rehype-semantic-blockquotes.css' layer(utilities);
@import './rehype-pretty-code.css' layer(utilities);

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@config '../../tailwind.config.ts';

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*      tailwindcss custom-variant     */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@custom-variant dark (&:where(.dark, .dark *));

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*          tailwindcss base           */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@layer base {
  /* all mode */
  :root {
    --header-height: 57px;
    --scroll-progress-border: 2px;
    --playground-add-width: 200px;
  }

  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*              light mode             */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  :root[style*='color-scheme: light'] {
    /* shadcn/ui light */
    --background: hsl(240, 7%, 97%);
    --foreground: hsl(240, 7%, 5%);

    --card: hsl(240, 7%, 97%);
    --card-foreground: hsl(240, 7%, 5%);

    --popover: hsl(240, 7%, 97%);
    --popover-foreground: hsl(240 10% 3.9%);

    --primary: hsl(240 5.9% 10%);
    --primary-foreground: hsl(240, 7%, 95%);

    --secondary: hsl(240 4.8% 95.9%);
    --secondary-foreground: hsl(240 5.9% 10%);

    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 46.1%);

    --accent: hsl(240 4.8% 95.9%);
    --accent-foreground: hsl(240 5.9% 10%);

    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(240, 7%, 95%);

    --border: hsla(240, 7%, 10%);
    --input: hsl(240, 5.9%, 90%);
    --ring: hsla(240, 7%, 10%);

    --chart-1: hsl(12, 76%, 61%);
    --chart-2: hsl(173, 58%, 39%);
    --chart-3: hsl(197, 37%, 24%);
    --chart-4: hsl(43, 74%, 66%);
    --chart-5: hsl(27, 87%, 67%);

    /* --sidebar-background: 0 0% 98%; */
    --sidebar-background: hsl(218, 80%, 98%);
    --sidebar-foreground: hsl(240, 5.3%, 26.1%);
    --sidebar-primary: hsl(240, 5.9%, 10%);
    --sidebar-primary-foreground: hsl(0, 0%, 98%);
    --sidebar-accent: hsl(240, 4.8%, 95.9%);
    --sidebar-accent-foreground: hsl(240, 5.9%, 10%);
    --sidebar-border: hsl(220, 13%, 91%);
    --sidebar-ring: hsl(217.2, 91.2%, 59.8%);

    /* rehype-pretty-code (shiki) */
    --shiki: hsl(208, 35%, 93%);
    --shiki-background: hsl(240, 7%, 16%);
  }

  /* * * * * * * * * * * * * * * * * * * */
  /*                                     */
  /*              dark mode              */
  /*                                     */
  /* * * * * * * * * * * * * * * * * * * */
  :root[style*='color-scheme: dark'] {
    /* shadcn/ui */
    --background: hsl(240, 7%, 5%);
    --foreground: hsl(240, 7%, 97%);

    --card: hsl(240, 7%, 5%);
    --card-foreground: hsl(240, 7%, 97%);

    --popover: hsl(240, 7%, 5%);
    --popover-foreground: hsl(240, 7%, 97%);

    --primary: hsl(240, 7%, 97%);
    --primary-foreground: hsl(24, 9.8%, 10%);

    --secondary: hsl(240 3.7% 15.9%);
    --secondary-foreground: hsl(240, 7%, 97%);

    --muted: hsl(240 3.7% 15.9%);
    --muted-foreground: hsl(240 5% 64.9%);

    --accent: hsl(240 3.7% 15.9%);
    --accent-foreground: hsl(240, 7%, 97%);

    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(240, 7%, 97%);

    --border: hsl(240 4.9% 83.9%);
    --input: hsl(240 3.7% 15.9%);
    --ring: hwb(240 83% 15%);

    --chart-1: hsl(220, 70%, 50%);
    --chart-2: hsl(160, 60%, 45%);
    --chart-3: hsl(30, 80%, 55%);
    --chart-4: hsl(280, 65%, 60%);
    --chart-5: hsl(340, 75%, 55%);

    /* --sidebar-background: 240 5.9% 10%; */
    --sidebar-background: hsl(225, 21%, 7%);
    --sidebar-foreground: hsl(240, 4.8%, 95.9%);
    --sidebar-primary: hsl(224.3, 76.3%, 48%);
    --sidebar-primary-foreground: hsl(0, 0%, 100%);
    --sidebar-accent: hsl(240, 3.7%, 15.9%);
    --sidebar-accent-foreground: hsl(240, 4.8%, 95.9%);
    --sidebar-border: hsl(240, 3.7%, 15.9%);
    --sidebar-ring: hsl(217.2, 91.2%, 59.8%);

    /* rehype-pretty-code (shiki) */
    --shiki: hsl(208, 35%, 93%);
    --shiki-background: hsl(240, 7%, 10%);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*          tailwindcss theme          */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@theme {
  /* shadcn colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius: 0.5rem;

  /* shadcn chart */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* shadcn sidebar */
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* shadcn border radius */
  --border-radius-sm: calc(var(--radius) - 4px);
  --border-radius-md: calc(var(--radius) - 2px);
  --border-radius-lg: var(--radius);

  /* shiki */
  --color-shiki: var(--shiki);
  --color-shiki-background: var(--shiki-background);

  /* font family */
  --font-*: initial;
  --font-sans:
    'YakuHanJPs', var(--font-inter), var(--font-noto-sans-jp), 'Helvetica Neue',
    'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Meiryo',
    'sans-serif';
  --font-inter:
    var(--font-inter), var(--font-noto-sans-jp), 'Helvetica Neue', 'Arial',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Meiryo', 'sans-serif';
  --font-code: var(--font-commit-mono), var(--font-noto-sans-jp), 'monospace';
  --font-crazyMetro:
    var(--font-crazy-metro), var(--font-noto-sans-jp), 'sans-serif';

  /* animation */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  /* keyframes */
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*         tailwindcss theme           */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border;
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-gray-500 dark:scrollbar-thumb-gray-700;
  }

  html,
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    overflow-x: clip;
  }

  cite,
  dfn {
    font-style: normal;
  }

  mark {
    padding-inline: 2px;
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*        tailwindcss components       */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */
@layer components {
  .natural-border {
    @apply dark:border-border/14 border-border/7;
  }
  .natural-shadow {
    @apply dark:ring-ring/14 ring-ring/7 shadow-md ring;
  }
}
