/* 通常表示 ================================================================== */
pre code:where([data-theme]) {
  @apply text-[13.5px];

  span[data-line] {
    /* 通常行 */
    @apply px-4 transition-colors ease-in hover:bg-blue-400/20 dark:hover:bg-blue-400/10;

    /* 装飾行 */
    &:where([data-highlighted-line], .add, .remove, .warning, .error) {
      @apply relative border-l-[3px] pl-[calc(1rem-3px)] pr-4;
    }

    /* 装飾行-共通設定 */
    &:where(.add, .remove, .warning, .error) {
      &::after {
        @apply absolute left-0 min-w-[calc(1rem+6px)] text-center;
      }
    }

    /* normal highlight */
    &[data-highlighted-line] {
      @apply border-blue-500 bg-blue-400/20 dark:bg-blue-400/10;
    }

    /* + add highlight */
    &.add {
      @apply border-green-500 bg-green-400/20 dark:bg-green-400/10;
      &::after {
        @apply text-green-500 content-['+'];
      }
    }

    /* - remove highlight */
    &.remove {
      @apply border-red-500 bg-red-400/20 dark:bg-red-400/10 [&_span]:text-[#6E7781] dark:[&_span]:text-[#8B949E];
      &::after {
        @apply text-red-500 content-['-'];
      }
    }

    /* ⚠ warning highlight */
    &.warning {
      @apply border-amber-500 bg-amber-400/20 dark:bg-amber-400/10;
      &::after {
        @apply translate-y-[13%] text-[12px] text-amber-600 content-['⚠'] dark:text-amber-500;
      }
    }

    /* ✗ error highlight */
    &.error {
      @apply border-red-500 bg-red-400/20 dark:bg-red-400/10;
      &::after {
        @apply translate-y-[9%] text-[12px] text-red-500 content-['✗'];
      }
    }
  }
}

/* 行数表示（共通）============================================================= */
pre code:where([data-theme][data-line-numbers]) {
  @apply [counter-reset:line];

  span[data-line] {
    /* 通常行 */
    &::before {
      @apply mr-4 inline-block text-right text-[#6E7781] content-[counter(line)] [counter-increment:line] dark:text-[#8B949E];
    }

    /* 装飾行 */
    /* normal highlight */
    &[data-highlighted-line]::before {
      @apply text-blue-500;
    }
    /* + add highlight */
    &.add::before {
      @apply text-green-500;
    }
    /* - remove highlight */
    &.remove::before {
      @apply text-red-500;
    }
    /* ⚠ warning highlight */
    &.warning::before {
      @apply text-yellow-500;
    }
    /* ✗ error highlight */
    &.error::before {
      @apply text-red-500;
    }
  }
}

/* 行数表示（一桁）============================================================= */
pre
  code:where(
    [data-theme][data-line-numbers][data-line-numbers-max-digits='1']
  ) {
  span[data-line]::before {
    @apply min-w-[1rem];
  }

  &:has(span:is(.add, .remove, .warning, .error)) {
    span[data-line]::before {
      @apply min-w-[calc(1rem+2px)];
    }
  }
}

/* 行数表示（二桁）============================================================= */
pre
  code:where(
    [data-theme][data-line-numbers][data-line-numbers-max-digits='2']
  ) {
  span[data-line]::before {
    @apply min-w-[1rem];
  }

  &:has(span:is(.add, .remove, .warning, .error)) {
    span[data-line]::before {
      @apply min-w-[calc(1.5rem+4px)];
    }
  }
}

/* 行数表示（三桁）============================================================= */
pre
  code:where(
    [data-theme][data-line-numbers][data-line-numbers-max-digits='3']
  ) {
  span[data-line]::before {
    @apply min-w-[1.75rem];
  }

  &:has(span:is(.add, .remove, .warning, .error)) {
    span[data-line]::before {
      @apply min-w-[calc(1.75rem+8px)];
    }
  }
}

/* 行数非表示 ================================================================ */
pre:is(.has-diff, .has-highlighted):not(:has(code[data-line-numbers])) {
  /* 通常行 */
  span[data-line] {
    @apply pl-6;
  }
  /* 装飾行 */
  span[data-line]:is(.add, .remove, .warning, .error) {
    @apply pl-[calc(1.5rem-3px)];
  }
}

/* 特定コード行をフォーカスする場合
========================================================*/
pre.has-focused {
  span[data-line]:not(.focused) {
    @apply blur-[3px] transition duration-300 ease-out;
  }

  &:hover {
    span[data-line]:not(.focused) {
      @apply blur-none;
    }
  }
}

/* インラインコード・スタイル
========================================================*/
span[data-rehype-pretty-code-figure] {
  code[data-theme] {
    @apply mx-[4px] break-words rounded-sm border border-foreground/10 bg-shiki-light-bg px-[3px] dark:bg-shiki-dark-bg;
  }

  code[data-language='.token'] {
    @apply border-none bg-shiki-light-bg font-sans font-medium [font-size:inherit] dark:bg-shiki-dark-bg;
  }
}

code:not([data-theme]) {
  @apply mx-[4px] inline break-words rounded-sm border border-foreground/10 bg-shiki-light-bg px-[3px] text-inherit dark:bg-shiki-dark-bg;
}

code:not([data-theme])[data-first-span] {
  @apply ml-0;
}

/* 例外処理 */

span[data-rehype-pretty-code-figure][data-first-span] {
  code[data-theme] {
    @apply ml-0;
  }
}

/* ========================================================

* レスポンシブ設定

* ====================================================== */

/* CustomTubsコンポーネント内のコードブロックは、shadcn/uiから提供されるタブの見出しと競合する */
div[role='tabpanel'] {
  /* Customコンポーネントを非表示 */
  div[data-rehype-pretty-code-title],
  figcaption:is(
      [data-rehype-pretty-code-title],
      [data-rehype-pretty-code-caption]
    ) {
    @apply hidden;
  }
}
