a.subheading-anchor {
  padding-inline-start: 6px;

  span.icon-link {
    position: relative;
    width: 1em;
    height: 1em;
    &::before {
      content: '';
      position: absolute;
      top: 9%;
      display: inline-block;
      width: 1em;
      height: 1em;
      mask-image: url('/img/link-chain.svg');
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      background-color: var(--tw-prose-lead);
      @apply transition-colors;
    }
  }

  &:hover {
    span.icon-link {
      &::before {
        @apply bg-blue-600 dark:bg-blue-500;
      }
    }
  }
}
